*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Aggiunto lo scrool smooth*/
html{
  scroll-behavior: smooth;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}

/* Aggiunto il viewport width al font size per farlo adattare alla dimensione dello schermo */
h2{
  text-transform: uppercase;
  font-size: 4vw;
}

/*
HEADER
*/

.nav-bar{
  position: fixed;
  right: 0;
  z-index: 100;
}

.nav-bar li{
  display: inline-block;
  height: 40px;
  width: 40px;
  line-height: 40px;

  border-radius: 50%;

  text-align: center;

  margin-top: 30px;
  margin-right: 30px;

  background-color: white;
  box-shadow: 0px 1px 5px 0.5px #2a2a2a;
}

.nav-bar li:active{
  transform: scale(0.8);
}

.nav-bar li:hover{
  box-shadow: 0px 4px 5px 1px #2a2a2a;
  cursor: pointer;
}

.nav-bar li a{
  text-decoration: none;
  font-weight: bold;
  color: black;
}


/* Scarpe */

.box {
  height: 100vh;
  position: relative;
}

.box-to-center {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);  
}



#scarpa-1{
  background-color: #F50101;
}

#scarpa-1 h2, #scarpa-2 h2{
  color: #FEFF01;
}


#scarpa-2{
  background-color: #248000;
}


#scarpa-3{
  background-color: #FEFF01;
}

#scarpa-3 h2{
  color: #248000;
}