*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}

h2{
  text-transform: uppercase;
}

/*
HEADER
*/

header{
  position: fixed;
}

.nav-bar{
  text-align: right;
}

.nav-bar li{
  display: inline-block;
  height: 25px;
  width: 25px;
  border-radius: 50%;

  margin-top: 30px;
  margin-right: 30px;

  background-color: white;

}

.nav-bar li a{
  text-decoration: none;
  font-weight: bold;
  color: black;

}


/* Scarpe */

#scarpa-1{
  background-color: #F50101;
  height: 100vh;

}


#scarpa-1 h2, #scarpa-2 h2{
  color: #FEFF01;
}


#scarpa-2{
  background-color: #248000;
  height: 100vh;

}

#scarpa-2 h2{
  color: #FEFF01;
}


#scarpa-3{
  background-color: #FEFF01;
  height: 100vh;

}

#scarpa-3 h2{
  color: #248000;
}